In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [59]:
volcano = pd.read_csv(r'C:/Users/Kedar/Downloads/Datasets/Volcano/Volcano CO2 - Sheet1.csv')

In [60]:
volcano.head(10)

,CO2 from...,metric tons of CO2 per year,metric tons of CO2 per day,source,note or link,Unnamed: 5,Unnamed: 6
0,European Aviation Industry,"125,599,710","344,109",3% of EU emissions,http://news.bbc.co.uk/1/hi/sci/tech/6195567.stm,"11,207",NaN
1,European Volcano Cancelled flights CO2 SAVED,NaN,"206,465",60% of flights,"http://www.spiegel.de/international/europe/0,1...",NaN,NaN
2,Volcano Eyjafjallajoekull suphur dioxide emiss...,NaN,3000,NaN,http://www.abc.net.au/environment/articles/201...,NaN,NaN
3,Eyjafjallajoekull Ratio of Carbon Dioxide (CO2...,NaN,5 to 1,Nordic Volcanological Institute,http://www2.norvol.hi.is/page/IES-EY-CEMCOM,NaN,NaN
4,UPDATED Volcano Eyjafjallajoekull (pre-eruption),NaN,"15,000",calculation using CO2: SO2 ratios,NaN,NaN,NaN
5,UPDATED Volcano Eyjafjallajoekull (erupting),NaN,"150,000",AFP,http://www.breitbart.com/article.php?id=CNG.8c...,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,volcanoes,NaN,NaN,NaN,NaN,NaN,NaN
8,volcanoes worldwide,"180,000,000","493,151",USGS,http://volcanoes.usgs.gov/hazards/gas/index.php,"13,416",NaN
9,Volcano Kīlauea (ongoing),"3,300,000","9,041",USGS,http://volcanoes.usgs.gov/hazards/gas/index.php,"1,817",NaN

In [63]:
volcano['CO2 from...'] = volcano['CO2 from...'].str.replace('Eyjafjallajoekull','')
volcano['CO2 from...'] = volcano['CO2 from...'].str.replace('Kīlauea','')

In [64]:
volcano.head(10)

,CO2 from...,metric tons of CO2 per year,metric tons of CO2 per day,source,note or link,Unnamed: 5,Unnamed: 6
0,European Aviation Industry,"125,599,710","344,109",3% of EU emissions,http://news.bbc.co.uk/1/hi/sci/tech/6195567.stm,"11,207",NaN
1,European Volcano Cancelled flights CO2 SAVED,NaN,"206,465",60% of flights,"http://www.spiegel.de/international/europe/0,1...",NaN,NaN
2,Volcano suphur dioxide emissions,NaN,3000,NaN,http://www.abc.net.au/environment/articles/201...,NaN,NaN
3,Ratio of Carbon Dioxide (CO2) to Sulphur Diox...,NaN,5 to 1,Nordic Volcanological Institute,http://www2.norvol.hi.is/page/IES-EY-CEMCOM,NaN,NaN
4,UPDATED Volcano (pre-eruption),NaN,"15,000",calculation using CO2: SO2 ratios,NaN,NaN,NaN
5,UPDATED Volcano (erupting),NaN,"150,000",AFP,http://www.breitbart.com/article.php?id=CNG.8c...,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,volcanoes,NaN,NaN,NaN,NaN,NaN,NaN
8,volcanoes worldwide,"180,000,000","493,151",USGS,http://volcanoes.usgs.gov/hazards/gas/index.php,"13,416",NaN
9,Volcano (ongoing),"3,300,000","9,041",USGS,http://volcanoes.usgs.gov/hazards/gas/index.php,"1,817",NaN

In [65]:
volcano.shape

(109, 7)

In [66]:
volcano.columns

Index(['CO2 from...', 'metric tons of CO2 per year',
       'metric tons of CO2 per day', 'source', 'note or link', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')

In [67]:
volcano.dtypes

CO2 from...                    object
metric tons of CO2 per year    object
metric tons of CO2 per day     object
source                         object
note or link                   object
Unnamed: 5                     object
Unnamed: 6                     object
dtype: object

In [68]:
volcano.isnull().sum()

CO2 from...                     65
metric tons of CO2 per year     81
metric tons of CO2 per day      77
source                          81
note or link                    72
Unnamed: 5                      92
Unnamed: 6                     108
dtype: int64

In [69]:
volcano.drop('Unnamed: 6', axis=1, inplace=True)

In [70]:
volcano

,CO2 from...,metric tons of CO2 per year,metric tons of CO2 per day,source,note or link,Unnamed: 5
0,European Aviation Industry,"125,599,710","344,109",3% of EU emissions,http://news.bbc.co.uk/1/hi/sci/tech/6195567.stm,"11,207"
1,European Volcano Cancelled flights CO2 SAVED,NaN,"206,465",60% of flights,"http://www.spiegel.de/international/europe/0,1...",NaN
2,Volcano suphur dioxide emissions,NaN,3000,NaN,http://www.abc.net.au/environment/articles/201...,NaN
3,Ratio of Carbon Dioxide (CO2) to Sulphur Diox...,NaN,5 to 1,Nordic Volcanological Institute,http://www2.norvol.hi.is/page/IES-EY-CEMCOM,NaN
4,UPDATED Volcano (pre-eruption),NaN,"15,000",calculation using CO2: SO2 ratios,NaN,NaN
...,...,...,...,...,...,...
104,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN
108,twatgasm,NaN,NaN,NaN,NaN,NaN

In [71]:
volcano.isnull().sum()

CO2 from...                    65
metric tons of CO2 per year    81
metric tons of CO2 per day     77
source                         81
note or link                   72
Unnamed: 5                     92
dtype: int64

In [72]:
volcano.isnull().all(axis=1).sum()

64

In [73]:
volcano.isna().all(axis=1).sum()

64

In [74]:
volcano.dropna(how='all', inplace=True) #removes all rows which are empty

In [75]:
volcano = volcano.reset_index()

In [76]:
volcano.drop('index', axis=1, inplace=True)

In [77]:
volcano

,CO2 from...,metric tons of CO2 per year,metric tons of CO2 per day,source,note or link,Unnamed: 5
0,European Aviation Industry,"125,599,710","344,109",3% of EU emissions,http://news.bbc.co.uk/1/hi/sci/tech/6195567.stm,"11,207"
1,European Volcano Cancelled flights CO2 SAVED,NaN,"206,465",60% of flights,"http://www.spiegel.de/international/europe/0,1...",NaN
2,Volcano suphur dioxide emissions,NaN,3000,NaN,http://www.abc.net.au/environment/articles/201...,NaN
3,Ratio of Carbon Dioxide (CO2) to Sulphur Diox...,NaN,5 to 1,Nordic Volcanological Institute,http://www2.norvol.hi.is/page/IES-EY-CEMCOM,NaN
4,UPDATED Volcano (pre-eruption),NaN,"15,000",calculation using CO2: SO2 ratios,NaN,NaN
5,UPDATED Volcano (erupting),NaN,"150,000",AFP,http://www.breitbart.com/article.php?id=CNG.8c...,NaN
6,volcanoes,NaN,NaN,NaN,NaN,NaN
7,volcanoes worldwide,"180,000,000","493,151",USGS,http://volcanoes.usgs.gov/hazards/gas/index.php,"13,416"
8,Volcano (ongoing),"3,300,000","9,041",USGS,http://volcanoes.usgs.gov/hazards/gas/index.php,"1,817"
9,Volcano Pinatubo (1991),"42,000,000","115,068",FT,http://ftalphaville.ft.com/blog/2010/04/16/204...,"6,481"
10,Volcano (2010) background,NaN,"7,412",calculation,from Sulphur DIoxide ratio to Carbon Dioxide r...,NaN
11,Volcano (2010) erupting,NaN,"150,000",AFP,http://www.breitbart.com/article.php?id=CNG.8c...,NaN
12,icelandic geothermal activity,"300,000",822,science direct,http://bit.ly/aqrwRp,548
13,aviation industry,NaN,NaN,NaN,NaN,NaN
14,Aviation Industry Worldwide 2009,"670,000,000","1,835,616",The Independent,http://www.independent.co.uk/environment/clima...,"25,884"
15,Aviation Industry Europe 2009,"125,599,710","344,109",3% of EU total emissions,http://news.bbc.co.uk/1/hi/sci/tech/6195567.stm,"11,207"
16,Aviation Industry Europe 2009 Estimate 2,"172,568,670","440,000",AFP,http://www.breitbart.com/article.php?id=CNG.8c...,"13,137"
17,Aviation Industry US,NaN,NaN,NaN,NaN,NaN
18,European Aviation Industry x Radiative Forcing...,"339,119,217","929,094",3% of EU emissions with radiative forcings,http://www.grida.no/publications/other/ipcc_sr...,NaN
19,Aviation Industry UK only,"37,500,000","102,740",The Independent,http://www.independent.co.uk/environment/clima...,"6,124"
20,Aviation Industry Projected Emissions 2025,"1,468,000,000","4,021,918",The Independent,http://www.independent.co.uk/environment/clima...,"38,314"
21,Cancelled Flights across Europe (60%),NaN,"206,465",60% of European aviation emissions,"http://www.spiegel.de/international/europe/0,1...",NaN
22,Saved by new aircraft landing techniques in Eu...,"500,000","1,370",USA Today,http://www.usatoday.com/tech/science/environme...,707
23,Saved by fuel efficiencies,"10,000,000",NaN,NaN,http://www.usatoday.com/tech/science/environme...,"3,162"
24,carbon emissions,NaN,NaN,NaN,NaN,NaN
25,Total UK Carbon Emissions,"556,200,000","1,523,836",The Independent,http://www.independent.co.uk/environment/clima...,"23,584"
26,Total EU Total CO2 Emissions,"4,186,657,000","11,470,293",EEA,http://www.eea.europa.eu/publications/european...,"64,704"
27,Total US Carbon Emissions,"5,752,289,000","15,759,696",UNStats,http://mdgs.un.org/unsd/mdg/SeriesDetail.aspx?...,"75,844"
28,human activity worldwide,"27,000,000,000","73,972,603",USGS,http://volcanoes.usgs.gov/hazards/gas/index.php,"164,317"
29,NaN,NaN,NaN,NaN,http://news.bbc.co.uk/1/hi/sci/tech/6195567.stm,NaN
30,misc calcs & numbers,NaN,NaN,NaN,NaN,NaN
31,fisure length,1km,NaN,NaN,http://scienceblogs.com/eruptions/2010/03/the_...,NaN
32,Crater depth,200m,NaN,NaN,http://scienceblogs.com/eruptions/2010/04/subg...,NaN
33,Plume height,3658 metres,NaN,NaN,http://www.jpl.nasa.gov/news/news.cfm?release=...,NaN
34,Intensity compared to last month,10x,NaN,NaN,http://www.nationalpost.com/story.html?id=2910621,NaN
35,Last month lava emissions,per second,6,518400,http://www.whittierdailynews.com/news/ci_14894200,NaN
36,Sulphur Dixoide Emissions,per day,3000,NaN,http://www.abc.net.au/environment/articles/201...,NaN
37,Mt Pinatubo Sulphur Dioxide Emissions,total,"17,000,000",NaN,http://www.signonsandiego.com/news/2010/apr/16...,http://pubs.usgs.gov/pinatubo/self/index.html
38,Volcano Pinatubo,total,"42,000,000",FT,http://ftalphaville.ft.com/blog/2010/04/16/204...,NaN
39,Ratio of carbon dioxide to sulphur dioxide emi...,Total,2.47,NaN,Pinatubo CO2/Pinatubo SO2,NaN
40,Carbon emissions of if ratio is the same,Per Day,"7,411.76",NaN,Pinatubo ratio times Eyjafjallajoekull SO2,NaN
41,NEW: CO2 to SO2 ratio for Volcano,NaN,5 to 1,Nordic Volcanological Institute,http://www2.norvol.hi.is/page/IES-EY-CEMCOM,NaN
42,NEW: Volcano CO2 estimate,NaN,15000,SO2 amount x 5,NaN,NaN
43,Global Data Centres (2002),"76,000,000",NaN,CNN,http://edition.cnn.com/2009/TECH/science/07/10...,NaN
44,twatgasm,NaN,NaN,NaN,NaN,NaN

In [78]:
volcano.columns

Index(['CO2 from...', 'metric tons of CO2 per year',
       'metric tons of CO2 per day', 'source', 'note or link', 'Unnamed: 5'],
      dtype='object')

In [40]:
plt.figure(figsize=(16, 6))
heatmap = sns.heatmap(volcano.corr(), annot=True)
heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':12, 'fontweight':}, pad=12);

ValueError: zero-size array to reduction operation fmin which has no identity

In [15]:
volcano['CO2 from...'].unique

<bound method Series.unique of 0                            European Aviation Industry
1           European Volcano Cancelled flights CO2 SAVED
2      Volcano Eyjafjallajoekull suphur dioxide emiss...
3      Eyjafjallajoekull Ratio of Carbon Dioxide (CO2...
4       UPDATED Volcano Eyjafjallajoekull (pre-eruption)
                             ...
104                                                  NaN
105                                                  NaN
106                                                  NaN
107                                                  NaN
108                                             twatgasm
Name: CO2 from..., Length: 109, dtype: object>

In [24]:
volcano['metric tons of CO2 per day',''].isnull().sum()

77

In [27]:
volcano.drop('note or link', axis=1, inplace=True)

In [28]:
volcano

,CO2 from...,metric tons of CO2 per year,metric tons of CO2 per day,source,Unnamed: 5,Unnamed: 6
0,European Aviation Industry,"125,599,710","344,109",3% of EU emissions,"11,207",NaN
1,European Volcano Cancelled flights CO2 SAVED,NaN,"206,465",60% of flights,NaN,NaN
2,Volcano Eyjafjallajoekull suphur dioxide emiss...,NaN,3000,NaN,NaN,NaN
3,Eyjafjallajoekull Ratio of Carbon Dioxide (CO2...,NaN,5 to 1,Nordic Volcanological Institute,NaN,NaN
4,UPDATED Volcano Eyjafjallajoekull (pre-eruption),NaN,"15,000",calculation using CO2: SO2 ratios,NaN,NaN
...,...,...,...,...,...,...
104,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN
108,twatgasm,NaN,NaN,NaN,NaN,NaN